streamlit
moviepy
openai-whisper
transformers<5.0
torch
sentencepiece
spacy
streamlit-lottie
requests
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
